<!DOCTYPE html>
<html>
<head>
  <title>ListEasy - The Fastest Way To Single Listings Sites</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page-container">
<div class="main-title">

Welcome to ListEasy

</div>

<%= yield %>

</div>
</body>
</html>
